.coin-image-container img{
    margin-right: 30px;
    width:150px;
    padding-left:20px
    

}
.coin-image-container{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(162, 162, 162);
    align-items: center;
    margin-left: 2px;
    justify-content: center;

     
}

.coin-image-container p{
    margin-right:0px;
    margin-top: -10px;
}
@media (max-width:930px) {
    .coin-image-container{
        margin-left: 5%;
    }
}