.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    height: 20px;
    padding: 20px;
    min-width: fit-content;
    background: linear-gradient(45deg, rgb(16, 5, 88),rgb(35, 0, 52), rgb(0, 0, 0));
}

.image-container img{
    width: 190px;
    height: 90px;
    margin-top: -10px;
}
.image-container{
    flex-grow: 3;
 

}

.menu{
    list-style: none;
    color: white;
    margin-left: 30px;
    text-decoration: none;
    text-align:justify;
}
@media (max-width:610px) {
    .menu{
        margin-left: 15px;
        text-align: left;
    }
    .menu a{
        text-align: center;
    }
}
@media (max-width:545px) {
   .menu{
    margin: 4px;
   }
}