@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap");

body {
    margin: 0;
    line-height: normal;
}

:root {
 
    --font-inter: Inter;


    --font-size-5xl: 24px;
    --font-size-13xl: 32px;


    --color-white: #fff;
    --color-black: #000;

   
    --br-21xl: 40px;
}