body{
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* background:linear-gradient(145deg, rgb(26, 3, 96), rgb(0, 0, 0)); */

}
#root,html,body{
    background:linear-gradient(145deg, rgb(26, 3, 96), rgb(0, 0, 0));
    min-height: 100%;
    min-width: fit-content;

}